// Define variables for your color scheme

// For example:
$green: #79C697;
$green_navbar: #79C697;
$red: #EE5F5B;
$blue: #009FB7;
$yellow: #FDB631;
$orange: #E67E22;
$gray: #000000;
$light-gray: #F4F4F4;
$white: #FFFFFF;
$comet: #5A5C71;

