.asso-namelogo {
  display: flex;
  align-items: center;
}

.asso-infos {
  text-align: left;
  padding-left: 20px;
  margin-left: 10px;
  h1 {
    margin: 0;
  }
  a {
    margin: 0;
  }
}

.dashboard-organization-container {
  padding: 30px;
}
