.mission-h1 {
  color: $dark-gray;
  font-weight: bolder;
  font-size: 40px;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.mission-h2 {
  color: $dark-gray;
  font-weight: bold;
  font-size: 30px;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.mission-h3 {
  color: $dark-gray;
  font-weight: bold;
  font-size: 27px;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.mission-h4 {
  color: $dark-gray;
  font-weight: lighter;
  font-size: 19px;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.mission-p {
  color: $dark-gray;
  font-weight: lighter;
  font-size: 14px;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
}

.show-mission-logo {
  height: 100px;
  border-radius: 15px;
  }
