  <div class="dashboard-organization-container">
    <div class="asso-namelogo">
      <%= cl_image_tag(@organization.logo, width: "100", :crop=>"scale", class: "logo-asso")%>
      <div class="asso-infos">
        <h1><%= @organization.name %></h1>
        <%= link_to @organization.website, class: "url-asso" %>
      </div>
    </div>
  </div>
  <div class="wrapper-grey">
    <div class="wrapper-left">
      <div class="btn btn-primary"><%= link_to "Poster un besoin", new_organizations_mission_path(@mission) %>
        <div class="container-stats">
          <div class="stat">
            <h3>4</h3>
            <p>besoins en cours</p>
          </div>
          <div class="stat">
            <h3>4</h3>
            <p>besoins postés</p>
          </div>
          <div class="stat">
            <h3>4</h3>
            <p>besoins récurrents</p>
          </div>
          <div class="stat">
            <h3>4</h3>
            <p>besoins pourvus</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper-right">
    <div class="row">
      <div class="col-md-4">
        <h2 Besoin en cours>
          </h2>
            <div class="row">
              <div class="col-md-4">
                <h2 Besoin à venir>
                  </h2>
