<div class="dashboard-container">
  <div class="missions-information">
    <%= @organization.name %>
  </div>
  <div class="asso-information">
    <% @missions.each(3) do |organization| %>
    <div class="row">
      <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="organizations-cards">
                <div class="organization-looking-for">loupe</div>
                <div class="organization-date">date</div>
                <div class="organization-titre">
                  <h2><% organization.description %></h2>
                  <h4><% organization.title %></h4>
                  <div>
                  <a href="#" class="organization-picto"></a>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
