<div class="home-full-view">
  <div id="home-container-left-side" >
    <div class="left-side">
      <h2>délit de solidarité</h2>
      <p>
        <span id="banner-typed-text"></span>
      </p>
      <div class="div-btn-home">
      <%= link_to "Découvrez tous les délits", missions_path, class: 'btn-home' %>
      </div>

        <div class="image-side">
        </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'home' %>
