<!-- Fists -->

<!-- <div class="homepage">
  <div class="top-fist">
    <svg width="411" height="532" viewBox="0 0 411 532" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g class="fist">
       <rect width="404.721" height="638.247" fill="black" fill-opacity="0" transform="translate(405.697 531.766) rotate(-179.568)"/>
      <path d="M6.59285 472.027L7.89296 299.648L24.061 299.77L24.532 237.325C24.8708 192.403 52.2381 153.916 91.0419 137.132L92.8362 -100.769L323.351 -99.0299L321.599 133.179C368.611 145.994 403.101 189.226 402.717 240.178L401.281 430.526L357.836 430.199L357.257 507.012L271.352 506.364L271.231 522.532L158.819 521.684L158.941 505.516L78.0976 504.906L78.3415 472.568L6.59285 472.027Z" fill="#79C697"/>
      <rect width="381.258" height="614.67" fill="black" fill-opacity="0" transform="translate(390.106 516.086) rotate(-179.568)"/>
      <path d="M209.445 417.683L390.838 419.051L391.01 396.211L209.617 394.843L209.445 417.683Z" fill="#79C697"/>
      <path d="M87.5253 498.49L171.153 499.121L171.315 477.672L87.6871 477.041L87.5253 498.49Z" fill="#79C697"/>
      <path d="M9.20989 466.666L92.8379 467.297L92.9997 445.848L9.37166 445.217L9.20989 466.666Z" fill="#79C697"/>
      <path d="M173.556 514.451L257.184 515.082L257.345 493.633L173.717 493.002L173.556 514.451Z" fill="#79C697"/>
      <path d="M261.361 500.537L344.989 501.168L345.151 479.719L261.523 479.088L261.361 500.537Z" fill="#79C697"/>
      <path d="M91.0738 134.523L92.849 -100.843L323.362 -99.1045L321.655 127.293L133.555 125.875L91.0738 134.523Z" fill="#79C697"/>
      <path d="M91.3802 92.7684L92.8395 -100.718L264.417 -99.4239L263.554 15.0383C263.225 58.6823 227.578 93.7957 183.934 93.4665L91.3802 92.7684Z" fill="#79C697"/>
      <path d="M304.819 281.434C304.819 281.434 239.21 273.209 206.545 243.056C206.545 243.056 139.493 269.415 31.0634 263.528L30.769 302.557L262.402 304.304L262.089 345.865L301.623 346.163L304.819 281.434Z" fill="#79C697"/>
      <rect width="350.79" height="219.581" fill="black" fill-opacity="0" transform="translate(361.64 489.898) rotate(-179.568)"/>
      <path d="M92.9199 306.171L137.196 306.505L136.262 430.434C136.077 454.887 116.104 474.561 91.6513 474.377L92.9199 306.171Z" fill="#79C697"/>
      <path d="M12.2431 303.88L11.1805 444.76C35.6328 444.944 55.6066 425.269 55.791 400.817L56.5196 304.214L12.2431 303.88Z" fill="#79C697"/>
      <path d="M180.42 488.533C204.872 488.718 224.846 469.043 225.03 444.59L225.207 421.127L209.547 421.009L210.116 345.541L225.776 345.659L226.168 293.761L174.81 293.374L173.339 488.48L180.42 488.533Z" fill="#79C697"/>
      <path d="M267.808 418.186L267.37 476.242L274.451 476.295C298.903 476.479 318.877 456.805 319.061 432.352L319.165 418.573L267.808 418.186Z" fill="#79C697"/>
      <path d="M204.457 382.418L313.931 383.243C340.722 383.446 362.605 361.89 362.807 335.098L363.296 270.322L320.287 269.998L296.978 287.208L296.546 344.564L202.819 343.858L204.457 382.418Z" fill="#79C697"/>
      <path d="M74.7448 512.675L157.709 513.301L157.584 529.894L272.956 530.764L273.081 514.171L361.229 514.836L361.823 436.02L406.417 436.356L407.89 241.01C408.285 188.717 372.879 144.356 324.647 131.206L326.444 -107.098L89.8672 -108.882L88.0258 135.256C48.203 152.481 20.1218 191.985 19.7741 238.086L19.3743 291.094L2.78124 290.969L1.36358 478.933L74.9951 479.489L74.7448 512.675ZM97.996 489.774L98.0723 479.663L99.3159 314.771L159.204 315.223L157.884 490.225L97.996 489.774ZM251.362 334.326L194.323 333.896L193.563 434.751L250.601 435.181L250.056 507.515L180.835 506.993L182.28 315.398L251.501 315.92L251.362 334.326ZM338.329 491.586L273.256 491.095L273.677 435.355L338.749 435.846L338.329 491.586ZM42.8514 238.259C43.225 188.716 83.8336 148.717 133.374 149.091L133.548 126.015C125.89 125.957 118.404 126.674 111.16 128.08L112.772 -85.6304L303.197 -84.1941L301.601 127.429C299.688 127.318 297.762 127.253 295.824 127.239L282.094 127.135L282.007 138.674L282.007 138.675L281.92 150.213L283.346 150.223L295.65 150.316C345.191 150.69 385.191 191.299 384.818 240.839L383.518 413.106L362 412.944L250.775 412.105L216.814 411.849L217.227 357.146L309.524 357.842L310.018 292.36C313.93 292.672 317.408 292.872 320.312 292.993L321.28 269.938C315.029 269.675 306.566 269.084 296.985 267.801C281.416 265.715 262.879 261.791 246.013 254.429C214.432 240.648 199.186 219.876 199.405 190.924L176.329 190.75C176.188 209.475 180.963 224.767 188.893 237.279C164.281 245.564 138.134 247.574 123.175 247.976L123.795 271.044C141.899 270.557 175.008 267.878 205.033 255.925C228.073 276.019 260.775 285.297 286.962 289.568L286.623 334.592L274.439 334.5L274.752 293.019L182.455 292.322L159.38 292.148L99.4915 291.697L76.4158 291.523L42.4547 291.267L42.8514 238.259ZM24.6148 456.032L25.6844 314.216L76.2387 314.597L75.1691 456.413L24.6148 456.032Z" fill="white"/>
      </g>
      </svg>
  </div> -->
  <!-- <div class="bottom-fist">
    <svg width="408" height="640" viewBox="0 0 408 640" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g class="fist">
        <rect width="404.721" height="638.247" fill="black" fill-opacity="0" transform="translate(0 1.49609) rotate(-0.21193)"/>
        <path d="M399.751 56.744L400.389 229.127L384.22 229.187L384.451 291.633C384.617 336.556 357.684 375.348 319.072 392.567L319.952 630.473L89.4324 631.326L88.5734 399.112C41.4204 386.826 6.44646 343.984 6.25799 293.032L5.5539 102.679L49 102.518L48.7159 25.7032L134.622 25.3855L134.562 9.21685L246.976 8.80105L247.036 24.9697L327.881 24.6706L328.001 57.0094L399.751 56.744V56.744Z" fill="#79C697"/>
        <rect width="381.258" height="614.67" fill="black" fill-opacity="0" transform="translate(15.7656 17) rotate(-0.21193)"/>
        <path d="M197.522 113.364L16.125 114.035L16.2095 136.876L197.606 136.205L197.522 113.364Z" fill="#79C697"/>
        <path d="M318.525 31.1946L234.896 31.5039L234.975 52.9537L318.605 52.6444L318.525 31.1946Z" fill="#79C697"/>
        <path d="M397.193 62.1321L313.563 62.4414L313.643 83.8912L397.273 83.5819L397.193 62.1321Z" fill="#79C697"/>
        <path d="M232.321 16.1985L148.691 16.5078L148.771 37.9576L232.401 37.6483L232.321 16.1985Z" fill="#79C697"/>
        <path d="M144.678 31.1008L61.0479 31.4102L61.1272 52.86L144.757 52.5506L144.678 31.1008Z" fill="#79C697"/>
        <path d="M319.068 395.179L319.939 630.55L89.4204 631.403L88.583 405L276.686 404.304L319.068 395.179Z" fill="#79C697"/>
        <path d="M319.232 436.932L319.948 630.422L148.366 631.057L147.943 516.592C147.781 472.947 183.031 437.436 226.676 437.274L319.232 436.932Z" fill="#79C697"/>
        <path d="M103.686 250.677C103.686 250.677 169.384 258.163 202.386 287.948C202.386 287.948 269.137 260.837 377.626 265.504L377.481 226.475L145.843 227.332L145.689 185.77L106.154 185.916L103.686 250.677Z" fill="#79C697"/>
        <rect width="350.79" height="219.581" fill="black" fill-opacity="0" transform="translate(44.5254 42.8672) rotate(-0.21193)"/>
        <path d="M315.293 223.561L271.016 223.725L270.557 99.7933C270.467 75.3404 290.218 55.4423 314.671 55.3518L315.293 223.561Z" fill="#79C697"/>
        <path d="M395.991 224.946L395.47 84.0628C371.017 84.1532 351.266 104.051 351.356 128.504L351.713 225.11L395.991 224.946Z" fill="#79C697"/>
        <path d="M225.749 42.1956C201.296 42.286 181.545 62.1842 181.635 86.637L181.722 110.101L197.383 110.043L197.662 185.512L182.001 185.57L182.193 237.47L233.552 237.28L232.83 42.1694L225.749 42.1956Z" fill="#79C697"/>
        <path d="M139.157 113.52L138.942 55.4624L131.861 55.4886C107.409 55.579 87.6573 75.4771 87.7478 99.93L87.7987 113.71L139.157 113.52V113.52Z" fill="#79C697"/>
        <path d="M202.907 148.572L93.4306 148.977C66.6389 149.076 44.9993 170.876 45.0984 197.668L45.338 262.446L88.3482 262.287L111.462 244.815L111.249 187.458L204.978 187.111L202.907 148.572Z" fill="#79C697"/>
        <path d="M331.146 16.865L248.18 17.1719L248.119 0.578328L132.745 1.00509L132.806 17.5987L44.6559 17.9247L44.9474 96.7428L0.352917 96.9078L1.0755 292.258C1.26893 344.552 37.1705 388.512 85.5482 401.119L86.4296 639.428L323.011 638.553L322.108 394.41C361.735 376.738 389.37 336.922 389.2 290.819L389.004 237.81L405.597 237.749L404.902 49.7799L331.269 50.0523L331.146 16.865V16.865ZM308.154 40.0268L308.191 50.1376L308.801 215.033L248.912 215.255L248.264 40.2483L308.154 40.0268ZM156.545 197.188L213.585 196.977L213.212 96.1204L156.172 96.3314L155.904 23.9961L225.127 23.74L225.835 215.338L156.613 215.594L156.545 197.188V197.188ZM67.8159 40.9157L132.89 40.675L133.096 96.4168L68.0221 96.6575L67.8159 40.9157ZM366.122 290.906C366.305 340.449 326.149 380.903 276.608 381.086L276.693 404.162C284.351 404.134 291.829 403.333 299.056 401.845L299.847 615.56L109.417 616.265L108.635 404.637C110.549 404.727 112.476 404.77 114.413 404.762L128.144 404.712L128.101 393.173L128.101 393.171L128.059 381.634L126.632 381.639L114.328 381.685C64.7864 381.868 24.3318 341.711 24.1485 292.169L23.5113 119.899L45.0297 119.819L156.257 119.408L190.219 119.282L190.422 173.986L98.1217 174.328L98.364 239.812C94.4489 239.543 90.9686 239.383 88.0636 239.293L87.3552 262.359C93.609 262.551 102.078 263.046 111.673 264.222C127.264 266.133 145.844 269.849 162.792 277.02C194.526 290.445 210.004 311.044 210.111 339.997L233.187 339.912C233.118 321.187 228.171 305.949 220.101 293.527C244.618 284.966 270.741 282.662 285.695 282.092L284.816 259.033C266.718 259.723 233.641 262.774 203.752 275.064C180.488 255.23 147.683 246.32 121.45 242.343L121.283 197.319L133.467 197.274L133.621 238.756L225.919 238.415L248.995 238.329L308.885 238.108L331.961 238.023L365.923 237.897L366.122 290.906ZM381.91 72.9416L382.434 214.761L331.879 214.948L331.354 73.1286L381.91 72.9416V72.9416Z" fill="white"/>
      </g>
    </svg>
  </div> -->
<!-- </div> -->


<div class="home-full-view">
  <div class="col-md-6">
    <div class="left-side">
      <h2>délit de solidarité</h2>
      <p>
        <span id="banner-typed-text"></span>
      </p>
        <div class="div-btn-home">
          <%= link_to "Découvrez tous les délits", missions_path, class: 'btn-home' %>
        </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'home' %>
