<h1>Votre profil</h1>


<%= link_to "Editer votre profil", edit_account_profile_path(@profile)%>

<%#= "#{@user.first_name} #{@user.last_name}" %>
<%#= @user.phone_number %>
<p><%#= @user.description %></p>
<p><%#= @user.skills %></p>
<p><%#= @user.experiences %></p>
<%#= cl_image_tag @user.picture %> -->
