<div class="asso-listing-container">
  <h1>Associations & organisations</h1>
  <div class="asso-listing-">
    <% @associations.each do |association| %>
      <div class=""><%= association.name %>
      </div>
      <%#= association.description %>
    <% end %>
  </div>
</div>
