.green-background {
  z-index: 5;
  position: absolute;
  background-color: white;
  height: 27vh;
  width: 100%;
}

.dashboard-container {
  z-index: 10;
  height: calc(100vh - 70px);
  display: grid;
  grid-template-columns: 400px 1fr 1fr 1fr;
  grid-template-rows: 35% 15% 55%;
  position: relative;
  p {
      font-weight: 600;
  }
  h10 {
    font-weight: 600;
    color: $green;
    margin-left: 25px;
  }
}


.asso-namelogo {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  text-align: center;
  h3 {
    color: $comet;
  }
}
.dashboard-logo {
  height: 100px;
  width: 100px;
  border-radius: 21px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 35px;
}


.dashboard-btn {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-stat {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  padding: 20px;
  h10 {
    color: $green;
    margin-left: 25px;
    margin-bottom: 0px;
  }
}

.stat {
  text-align: center;
  height: 140px;
  margin-bottom: 15px;
  color: $green;
  h2 {
    margin-top: 0px;
    font-weight: bold;
  }
  p {
    font-size: 14px;
    margin-bottom: 0px;
    color: $green;
    font-weight: 500;
  }
}

.stat-card {
  // background-color: #48A5E2;
  height: 140px;
  width: 160px;
  border-radius: 12px;
  margin: 10px;
  padding-top: 20px;
}

.dashboard-mission-current {
  grid-row: 1 / span 2;
  grid-column: 2 / span 3;
  padding: 20px;
  margin-left: 35px;
  margin-top: 35px;
}

.dashboard-mission-past {
  grid-row: 3 / span 1;
  grid-column: 2 / span 3;
  padding: 20px;
  margin-left: 35px;
  margin-right: 15px;
}

.banner-show-green-background {
  background-color: $green;
  height: 30vh;
  width: 100%;
  h1 {
    color: white;
    font-weight: bold;
    margin-top: 0px;
    padding-top: 30px;
  }
}
