.filter-container {
  height: 15vh;
  border-bottom: 20px;
  padding-top: 20px;
  width: 100%;
}

.filters {
  height: 70px;
  border-width: 1px;
  border-top: 20px;
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  padding: 20px;
  width: 100%
  // position: fixed;
  // top: 0; /* Position the navbar at the top of the page */
}

.form-control-index {
  margin-left: 15px;
  width: 40%;
  border: none;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  border-radius: 5px;
  padding: 5px;
}

.form-control-filter {
  margin-left: 15px;
  width: 20%;
  border: none;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  border-radius: 5px;
  padding: 5px;
}

