.mini-card-container {
  height: 140px;
  width: 230px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 21px;
  margin: 20px;
  h2 {
    color: $comet;
    font-size: 14px;
    margin-top: 5px;
    line-height: 18px;
  }
  p {
    color: $comet;
    font-size: 10px;
    margin-top: 0px;
    margin-left: 0px;
  }
  flex: 0 0 auto;
}

.mini-card-description {
  // position: absolute;
  bottom: 0px;
  left: 10px;
  padding: 10px;
  padding-bottom: 5px;
}

.display-flex {
  display: flex;
  justify-content: space-between;
}
