.missions-cards {
  height: 320px;
  width: 240px;
  background-color : white;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  box-shadow: 2px 4px 4px rgba(147, 147, 147, 0.28);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  position: relative;
  font-size: 14px;
  color: black;
}

.border-bottom {
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: -1;
}

.missions-cards h2 {
  width: 90%;
  font-size: 1.2em;
  position: absolute;
  left: 6%;
  bottom: 20%;
  line-height: 1.3;
}

.missions-cards h1 {
  width: 90%;
  font-size: 1.2em;
  position: absolute;
  left: 6%;
  bottom: 20%;
}

.missions-cards p {
  width: 90%;
  font-size: 0.8em;
  position: absolute;
  left: 6%;
  bottom: 6%;
  color: #BDBDBD;
}


.dashboard-missions-cards {
  height: 280px;
  background-color : white;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  box-shadow: 2px 4px 4px rgba(147, 147, 147, 0.28);
  border-radius: 21px;
  padding: 10px;
  margin: 10px;
  position: relative;
  font-size: 14px;
  color: black;
}

.dashboard-missions-cards h2 {
  height: 240px;
  width: auto;
  font-size: 1em;
  position: absolute;
  left: 6%;
  bottom: 20%;
}

.dashboard-missions-cards p {
  width: 180px;
  font-size: 0.8em;
  position: absolute;
  left: 6%;
  bottom: 6%;
  color: #BDBDBD;
  margin-top: 10px;
  text-align: justify;
}

.looking-for {
  position: absolute;
  width: 25px;
  top: 10px;
  left: 10px;
}


// .looking-for:hover {
//   border: 1px solid red;
// }

.date {
  position: absolute;
  top: 10px;
  right: 10px;
  // z-index: 1;
  // padding-right: 30px;
  // text-indent: -5px;
  // font-size: 13px;
  // color: transparent;
  // text-decoration: none;
  // transition: color .2s ease, text-indent .2s ease;
  // cf > transition : webgradients.com
}

.gradient-general {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.show-gradient-general {
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.gradient-collecte {
  background: linear-gradient(to left, #A3BDED, #6991C7);
}

.gradient-hebergement {
  background: linear-gradient(to left, #c4bcfd, #b3a6f5);
}

.gradient-sante {
  background: linear-gradient(to left, #FF9A9E, #FAD0C4);
}

.gradient-accompagnement {
  background: linear-gradient(to left, #D76666, #E17E7E);
}

.gradient-enseignement {
  background: linear-gradient(to left, #8ddad5, #00cdac);
}

.gradient-activite {
  background: linear-gradient(to left, #FFC062, #F5E27F);
}

.gradient-mobilisation {
  background: #0000F7;
}

.gradient-evenement {
  background: linear-gradient(to left, #b3d7af, #9cd2aa);
}


.svg-white {
  fill: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  svg {
    width: 70px;
  }
  margin-top: 25px;
}

.show-svg-white {
  fill: white;
  margin-left: 10px;
  svg {
    width: 70px;
  }
  margin-top: 95px;
}

.mini-svg-white {
  margin-top: 5px;
  svg {
    width: 30px;
  }
}

.fill-gradient-collecte {
  fill: #6991C7;
}

.fill-gradient-hebergement {
  fill: #6C6E9B;
}

.fill-gradient-sante {
  fill: #FAD0C4;
}

.fill-gradient-accompagnement {
  fill: #D76666;
}

.fill-gradient-enseignement {
  fill: #8ddad5;
}

.fill-gradient-activite {
  fill: #FFC062;
}

.fill-gradient-mobilisation {
  fill: #0000F7;
}

.fill-gradient-evenement {
  fill: #929EAD;
}

///// TEST ////

// .credentialing {
//   --bg-color: #B8F9D3;
//   --bg-color-light: #e2fced;
//   --text-color-hover: #4C5656;
// }

// .card {
//   width: 220px;
//   height: 321px;
//   background: #fff;
//   border-top-right-radius: 10px;
//   overflow: hidden;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   position: relative;
//   box-shadow: 0 14px 26px rgba(0,0,0,0.04);
//   transition: all 0.3s ease-out;
//   text-decoration: none;
// }

// .card:hover {
//   transform: translateY(-5px) scale(1.005) translateZ(0);
//   box-shadow: 0 24px 36px rgba(0,0,0,0.11),
//     0 24px 46px var(--box-shadow-color);
// }

// .card:hover .overlay {
//   transform: scale(4) translateZ(0);
// }

// .card p {
//   font-size: 17px;
//   color: #4C5656;
//   margin-top: 30px;
//   z-index: 1000;
//   transition: color 0.3s ease-out;
// }

// .overlay {
//   width: 118px;
//   position: absolute;
//   height: 118px;
//   border-radius: 50%;
//   background: var(--bg-color);
//   top: 70px;
//   left: 50px;
//   z-index: 0;
//   transition: transform 0.3s ease-out;
// }

