.missions-cards {
  width: 210px;
  height: 280px;
  background-color : white;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  box-shadow: 2px 4px 4px rgba(147, 147, 147, 0.28);
  border-radius: 21px;
  padding: 10px;
  margin: 10px;
  position: relative;
  font-size: 14px;
  color: black;
}

.missions-cards h2 {
  width: auto;
  font-size: 1em;
  position: absolute;
  left: 6%;
  bottom: 20%;
}

.missions-cards p {
  width: 180px;
  font-size: 0.8em;
  position: absolute;
  left: 6%;
  bottom: 6%;
  color: #BDBDBD;
}


.dashboard-missions-cards {
  height: 280px;
  background-color : white;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  box-shadow: 2px 4px 4px rgba(147, 147, 147, 0.28);
  border-radius: 21px;
  padding: 10px;
  margin: 10px;
  position: relative;
  font-size: 14px;
  color: black;
}

.dashboard-missions-cards h2 {
  width: auto;
  font-size: 1em;
  position: absolute;
  left: 6%;
  bottom: 20%;
}

.dashboard-missions-cards p {
  width: 180px;
  font-size: 0.8em;
  position: absolute;
  left: 6%;
  bottom: 6%;
  color: #BDBDBD;
  margin-top: 10px;
  text-align: justify;
}

.looking-for {
  position: absolute;
  width: 20px;
  top: 10px;
  left: 10px;
}


// .looking-for:hover {
//   border: 1px solid red;
// }

.date {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  // z-index: 1;
  // padding-right: 30px;
  // text-indent: -5px;
  // font-size: 13px;
  // color: transparent;
  // text-decoration: none;
  // transition: color .2s ease, text-indent .2s ease;
  // cf > transition : webgradients.com
}

.missions-cards h2 {
  width: auto;
  font-size: 1em;
  position: absolute;
  left: 6%;
  bottom: 20%;
}

.missions-cards p {
  width: 180px;
  font-size: 0.8em;
  position: absolute;
  left: 6%;
  bottom: 6%;
  color: #BDBDBD;
}

.gradient-general {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gradient-collecte {
  background: linear-gradient(#A3BDED, #6991C7);
}

.gradient-hebergement {
  background: linear-gradient(#3C3F43, #6C6E9B);
}

.gradient-sante {
  background: linear-gradient(#FF9A9E, #FAD0C4);
}

.gradient-accompagnement {
  background: #D76666;
}

.gradient-enseignement {
  background: linear-gradient(#8ddad5, #00cdac);
}

.gradient-activite {
  background: linear-gradient(#FFC062, #F5E27F);
}

.gradient-mobilisation {
  background: #0000F7;
}

.gradient-evenement {
  background: linear-gradient(#BCC5CE, #929EAD);
}


.svg-white {
  fill: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
  svg {
    width: 70px;
  }
  margin-top: 45px;
}

.mini-svg-white {
  margin-top: 5px;
  svg {
    width: 30px;
  }
}

.fill-gradient-collecte {
  fill: #6991C7;
}

.fill-gradient-hebergement {
  fill: #6C6E9B;
}

.fill-gradient-sante {
  fill: #FAD0C4;
}

.fill-gradient-accompagnement {
  fill: #D76666;
}

.fill-gradient-enseignement {
  fill: #8ddad5;
}

.fill-gradient-activite {
  fill: #FFC062;
}

.fill-gradient-mobilisation {
  fill: #0000F7;
}

.fill-gradient-evenement {
  fill: #929EAD;
}

