.dashboard-name-container {
  padding: 5px;
  border-bottom: 6px solid #F6F6F6;
}

.missions-cards-dashboard {
  height: 230px;
  width: 220px;
  background-color : white;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  // box-shadow: 2px 4px 4px rgba(147, 147, 147, 0.28);
  border-radius: 5px;
  padding: 15px;
  margin: 20px 20px 0px 20px;
  position: relative;
  font-size: 14px;
  color: black;
  &.active {
  color: white;
  opacity: 1;
  }
  h2 {
  width: 100%;
  font-size: 1.2em;
  line-height: 1.3;
  color: $comet;
  margin-bottom: 5;
  }
  p {
  width: 100%;
  font-size: 0.8em;
  color: #BDBDBD;
  }
  flex: 0 0 auto;
  svg {
    margin-top: -55px;
  }
}

.asso-namelogo {
  h3 {
    color: $comet;
    font-weight: 600;
  }
  margin-top: 5px;
  margin-left: 70px;
  position: relative;
}

.navbar-button {
  position: absolute;
  right: 80px;
  top: 150px;

}

.wrapper-bottom {
  display: flex;
  // background-color: #F6F6F6;
  h4 {
    margin-left: 20px;

  }
}

.wrapper-right {
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  // padding-top: 20px;
}

.wrapper-left {
  width: 18%;
  position: relative;
  padding: 15px;

}

.container-stats {
  align-item: center;
  position: relative;
  // top: 260px;
}

.container-grey-left {
  // background-color: #F6F6F6;
  padding: 15px;
  border-radius: 5px;
}

.container-grey-right {
  // background-color: #F6F6F6;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.container-grey-right-bottom {
  // background-color: #F6F6F6;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 5px
}

.stat {
    width: 132px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;
    h3 {
      font-size: 60px;
      margin-top: 5px;
      font-weight: 200;
      margin-bottom: -3px;
    }
    p {
      font-size: 11px;
      font-weight: 500;
      color: #BDBDBD;

    }
  }


.logo-asso {
  border-radius: 10px;
}

.dashboard-position {
  position: relative;
  bottom: 1%;
}

.dashboard-svg {

}

.missions-cards-dashboard:hover .overlay {
  opacity:1;
}
