.show-profile-wrap {
  background-color: white;
  margin: -150px -50px 0px -50px;
  border-radius: 15px;
  display: flex;
  padding: 40px 80px  20px 80px;
  div {
    margin: 25px;
  }
  p {
    padding: 8px 0px;
  }
}
