.dashboard-container {
  height: calc(100vh - 70px);
  background-color: white;
  display: flex;
}

.asso-information {
  height: calc(100vh-70px);
  flex: 450px 0 0px;
  background-color: red;
}

.missions-information {
  background-color: blue;
}

.green-background {
  height: 40vh;
  background-color: green;
}
