<div class="container">
  <div class="row">
    <% @missions.each do |mission| %>
      <div class="col-xs-12 col-sm-4">
        <div class="missions-cards">
        <%= link_to "", mission_path(mission) %>
        <h2><%= mission.title %></h2>
        <%= svg_div(mission.category) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
