<div class="container">
  <div class="row">
    <%# @missions.each do |mission| %>
      <!-- <div class="col-xs-12 col-sm-4">
        <div class="missions-cards">
          <div class="mission-looking-for">loupe</div>
          <div class="mission-date">date</div>
          <div class="mission-titre"> -->
            <h2><%#= mission.title %></h2>
            <h4><%#= mission.description %></h4>
<!--             <div>
            <a href="#" class="mission-picto"></a>
            </div>
          </div>
        </div>
      </div> -->
    <%# end %>
    <div class="col-xs-12 col-sm-4">
      <div class="missions-cards">
        <div class="gradient-general gradient-collecte"></div>
      </div>
      <div class="missions-cards">
        <div class="gradient-general gradient-hebergement"></div>
      </div>

      <div class="missions-cards">
        <div class="gradient-general gradient-sante"></div>
      </div>

      <div class="missions-cards">
        <div class="gradient-general gradient-accompagnement"></div>
      </div>

      <div class="missions-cards">
        <div class="gradient-general gradient-activite"></div>
      </div>

      <div class="missions-cards">
        <div class="gradient-general gradient-mobilisation"></div>
      </div>

    </div>
  </div>
</div>
