<div class="main-container">
  <div id="map" data-markers="<%= @markers.to_json %>"></div>
  <div class="container">
    <div class="row">
      <% @missions.each do |mission| %>
      <div class="col-xs-12 col-sm-4">
        <div class="missions-cards">
            <%= svg_div(mission.category) %>
            <h2><%= mission.title.first(22) %></h2>
            <p><%= mission.description.first(50) %>...</p>
            <img class="looking-for" src="/assets/looking-for.png"/>
              <!-- <h3 class="volunteer"><%#= mission.volunteers_needed %></h3>
              <p><%#= mission.starting_at %></p> -->
            <img class="date" src="/assets/time.png"/>
        </div>
      </div>
    <% end %>
  </div>
</div>
